.container {
    padding: 20px;
    margin: auto;
    width: 500px;
    border: 5px solid #f1f1f1;
    background-color: #D5D8DC;
}
input[type=text], input[type=password],input[type=date],input[type=email],input[type=tel]{
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
button {
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
